{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3" style="text-align: center;">Manufacturing Page</h1>
    <p class="lead">
        Being part of the Vita Vehiculum family means that we support the manufacturing of electric vehicles
(EV). Utilizing our solar generation, Vita Vehiculum has built a new electric vehicle manufacturing
complex right here at Sonneberg Fields. It provides the capability of building EV in a plant run
completely off solar! It is much more efficient than any of our competitors! Please reach out via the
Contact Us page for more information regarding our EV manufacturing

    </p>
    <hr class="my-2">
</div>

{% endblock %}